body {
    width: 100%;
}
.header_content {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 30px;
}
.header_img {
    width: 200px;
}
.header_nav {
    margin-left: auto;

}
.header_nav_content {
    display: flex;
}
.header_nav_item {
    padding: 0 20px;
    font-size: 12px;
    color: rgb(116, 117, 119);
}
a {
    text-decoration: none;
    color:grey;
}

/*メイン*/
.main_content {
    display: inline-block;
}
.main_relative{
    position: relative;
}
.first_view {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-bottom: 150px;
}
.main_absolute {
    position: absolute;
    left: 30%;
    top: 20px;
}
.main_ttl {
    color: mediumvioletred; 
    font-family: "Indie Flower", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 45px;
        }
.main_sub_ttl {
    font-size: 17px;
    font-weight: bold;
    margin-top: 50px;
    color: mediumvioletred;
}
.main_sub_ttl2 {
    font-size: 12px;
    line-height: 30px;
    margin-top: 10px;
    color:darkgray;
}
.green {
    color:rgb(13, 156, 172);
}

/*ニュース*/
.news_content {
    margin-right: 100px;
}
.news {

}
.small_ttl {
    color: mediumvioletred;
        font-family: "Indie Flower", cursive;
        font-style: normal;
        font-size: 20px;
        margin-left: 23%;
}
.news_ttl {
    display: block;
    margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 25px;
    color: rgb(125, 122, 122);
}
.news_table {
    margin: 0 auto;
    margin-bottom: 80px;
    font-size: 15px;
    color: rgb(102, 100, 100);
}
.news_group {
    border-top: 2px solid #ddd;
    padding: 24px 0;
    display: flex;
    align-items: center;
    width: 120%;
}
.news_group:last-child {
    border-bottom: 3px solid #ddd;
}
.news_group:first-child {
    border-top: 3px solid #ddd;
}
.date {
    

}
.news_item {
    background-color: mediumvioletred;
    border-radius: 30px;
    color: aliceblue;
    padding: 5px 20px;
    margin: 0 20px;
}
.news_item2 {

}

/*アバウト*/
.about {
    margin-left: 50%;
    margin-top: 50px;
}
.about_content {
    display: inline-block;
    background-color: #f8f8f8;
    width: 100%;
    padding-bottom: 50px;
}
.about_ttl {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}
.about_item {
    display: flex;
}
.about_explanation {
    font-size: 15px;
    color: gray;
    line-height: 30px;
}
.about_explanation2 {
    font-size: 15px;
    color: gray;
    margin-top: 30px;
    line-height: 30px;
}
.p_item {
    margin: auto;
}
.about_img {
    width: 350px;
    margin: auto;

}

/*サービス*/
.service_content {
    width: 700px;
    margin: 0 auto;
}
.service {
    margin-top: 70px;
    margin-left: 0px;
}
.service_ttl {
    font-size: 25px;
    color: gray;
    margin-bottom: 40px;

}
.grid_parent {
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 1fr 1fr;
}
.box_img {
    width: 100px;
    padding-bottom: 10px;
}
.box_explanation {
    font-size: 12px;
    line-height: 20px;
}
.box_ttl {
    padding-bottom: 10px;
}
.box1 {
    grid-column: 1/2;
    grid-row: 1/3;
    background: hsl(328, 92%, 39%);
    display: inline-block;
    padding-top: 40px;
}
.text {
    text-align: center;
}
.box1_p {
    margin-left: 45px;
}
.text2 {
    padding-top: 25px;;
}
.box2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background: #b55888;
    display: inline-block;
    display: flex;
    padding-left: 10px;
}
.box3 {
    grid-column: 2/3;
    grid-row: 2/3;
    background: #bb7a9c;
    display: inline-block;
    display: flex;
    padding-left: 10px;
}

.grid_parent div {
    font-size: 20px;
    color: #fff;
}

/*ブログ*/
.blog_flex {
    margin-bottom: 180px;
    padding-bottom: 40px;
    background-color: #f4f5f7;
}
.flex {
    display: flex;
    justify-content: center;
}
.blog {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 200px;
}
.blog_ttl {
    margin-bottom: 30px;
    margin-left: 200px;
    font-size: 25px;
    color: gray;
}
.blog_card {
    display: inline-block;
    position: relative;
    background-color: #f8f8f8;
    border: 1px solid none;
    }
.blog_img {
    width: 70%;
    border-radius: 20px 20px 0 0;
}
.blog_note {
    display: inline-block;
    position: absolute;
    left: 0px;
    border-radius: 20px 0 0 0;
    padding:10px;
    font-size: 20px;
    color: aliceblue;
    background-color: mediumvioletred;
}
.blog_card_item {
    padding: 15px 25px;
}
.card_comment {
    font-size: 15px;
    margin-bottom: 30px;
    font-weight: bold;
    color: grey;
    line-height: 25px;
}
.card_tag {
    display: inline-block;
    color: #008888;
    font-size: 12px;
}
.card_tag2 {
    display: inline-block;
    margin-left: 60px;
    color: #888888;
    font-size: 12px;
}
.card_guid {
    display: block;
    width: 100px;
    text-decoration: none;
    border: 2px solid mediumvioletred;
    border-radius: 30px;
    font-size: 15px;
    padding: 20px 80px;
    color: mediumvioletred;
    margin: auto;
    margin-top: 30px;
    }

/*カンパニー*/
.company_content {
    margin-bottom: 70px;
}
.company {
    margin-top:30px;
    margin-bottom: 20px;
    margin-left: 300px;
}
.company_ttl {
    margin-bottom: 50px;
    margin-left: 300px;
    font-size: 25px;
    color: grey;

}
.company_table {
    border: 1px solid grey;
    margin:0 auto;
    width:  60%;
}
.company_item {
    border: 1px solid grey;
    font-size: 20px;
    padding: 20px 0 20px 10px;
    text-align: left;
    background-color: #f4f5f7;
    color: gray;
}
.company_item2 {
    border: 1px solid grey;
    font-size: 20px;
    padding: 20px 20px 20px 10px;
    color: grey;
}

/*インフォ*/
.info_content {
    display: flex;
    position: relative;
    width:  100vw;
    margin-bottom: 50px;
}
.info_img {
    width: 50%;
}
.info_img2 {
    width: 50%;
}
.info_ttl {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 30px;
    font-weight: bold;

}
.info_ttl2 {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
.form_content {

}
.form_guid {
    display: block;
    width: 420px;
    margin: auto;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
    color: gray;

}
.border {
    position: relative;
    font-size: 16px;
    height: 70px;
    line-height: 70px;
}
.border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 2px;
    height: 40px;
    margin: auto;
    background-color: mediumvioletred;
}
.form_btn {
    display: block;
    position: relative;
    text-decoration: none;
    border-radius: 30px;
    font-size: 15px;
    padding: 20px 80px;
    color:#f4ecec;
    background: linear-gradient(90deg, #ee64a4, #d61080);
    box-shadow: 0 8px 0 rgb(116, 10, 77);
    width: 90px;
    margin: auto;
    margin-bottom: 50px;
}
.form_btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    background: url(img/mailicon.svg) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    margin-left: 15px;
}
.footer_content {
    text-align: center;
    padding: 30px;
    background-color: #f4f5f7;
    color:grey;
}