.body {
    width: 100vw;
}
.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
}
.header_img {
    width: 250px;
}
.header_nav {
    margin-left: 70%;
}
.header_nav_content {
    display: flex;
    list-style: none;
}
.header_nav_item {
    padding: 0 30px;
    font-size: 30px;
    color: rgb(116, 117, 119);
}

/*メイン*/
.main_content {
    position:relative;
    display: inline-block;
}
.first_view {
    width: 100vw;
    margin-left: 50%;
    margin-bottom: 150px;
    z-index: 0;
}
.main_absolute {
    position: absolute;
    left: 260px;
    top: 50px;
    z-index: 10;
}
.main_ttl {
    color: mediumvioletred; 
    font-family: "Indie Flower", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 110px;
        }
.main_sub_ttl {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0px;
    color: mediumvioletred;
}
.main_sub_ttl2 {
    font-size: 25px;
    margin-top: 0px;
    color:darkgray;
}
.green {
    color:rgb(13, 156, 172);
}

/*ニュース*/
.news_content {
    margin-left: 300px;
}
.news {

}
.small_ttl {
    color: mediumvioletred;
        font-family: "Indie Flower", cursive;
        font-style: normal;
        font-size: 30px;
        margin: 0 10%;
}
.news_ttl {
    margin: 0 10%;
    font-size: 50px;
    color: rgb(125, 122, 122);
}
.news_table {
    margin: 0 auto;
    margin-bottom: 80px;
    font-size: 30px;
    color: rgb(102, 100, 100);
}
.news_group {
    border-top: 2px solid #ddd;
    padding: 24px 0;
    display: flex;
    align-items: center;
    width: 140%;
}
.news_group:last-child {
    border-bottom: 3px solid gray;
}
.news_group:first-child {
    border-top: 3px solid gray;
}
.date {
    

}
.news_item {
    background-color: mediumvioletred;
    border-radius: 30px;
    color: aliceblue;
    padding: 0 20px;
}
.news_item2 {

}

/*アバウト*/
.about {
    
}
.about_content {
    background-color: #f8f8f8;
    margin-left:100px;
    width: 100vw;
}
.about_ttl {
    display: inline-block;
    margin: 0 50%;
    font-size: 50px;
}
.about_item {
    display: flex;

}
.about_explanation {
    font-size: 30px;
    color: gray;
}
.p_item {

}
.about_img {
    width: 60vw;
}

/*サービス*/
.service_content {

}
.service {

}
.service_ ttl {

}
.grid_parent {
    display: grid;
    grid-template-rows: 300px 300px 100px 200px;
    grid-template-columns: 2fr 2fr 2fr 1fr;
}
.box_img {
    width: 200px;
}
.box1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background: #004e4e;
}
.box2 {
    grid-column: 1/2;
        grid-row: 2/3;
        background: #008888;
}
.box3 {
        grid-column: 2/4;
        grid-row: 1/2;
        background: #049fb3;
}

.grid__parent div {
    text-align: center;
    font-size: 24px;
    color: #fff;
}

/*ブログ*/
.blog_flex {

    }
    .flex {
        display: flex;
        justify-content: space-between;
    }
.blog {

}
.blog_ttl {

}
blog_card {
    display: inline-block;
    width: 600px;
    }
.blog_img {
    width: 600px;
    border-radius: 20px 20px 0 0;
}
.blog_note {
    display: inline;
    border-radius: 20px 0 0 0;
    position: absolute;
    left: 0px;
    transform: translate(0,-20px);
    padding:10px;
    font-size: 20px;
    color: aliceblue;
    background-color: mediumvioletred;
}
.blog_card_item {
    display: inline-block;
    padding: 15px 25px;
    margin: 0 20%;
}
.card_comment {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 400;
}
.card_tag {
    display: inline-block;
    color: #008888;
}
.card_tag2 {
    display: inline-block;
    margin-left: 20px;
    color: #888888;
}

/*カンパニー*/
.company_content {

}
.company {

}
.company_ttl {

}
.company_table {

}
.company_item {

}